body {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  font-family: "Open Sans", sans-serif;
  background-color: lightslategrey;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

h4 {
  font-weight: normal;
  color: rgb(0,0,0);
  font-size: 20px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

/*登陆框*/
#login-box {
  display:none;
  width:420px;
  height: 240px;
  background: #eeeeee;
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -200px;
  margin-top: -150px;
}

#create-box {
  display:none;
  width:420px;
  height: 260px;
  background: #eeeeee;
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -200px;
  margin-top: -150px;
}

.table thead tr td{
  vertical-align: middle;
}

#acceptabelcounticon {
  background-color: #f76d6d;
  font-size: 24px;
}

#personalCounticon {
  background-color: #f76d6d;
  font-size: 24px;
}